body {
  overflow: hidden;
  background-color: #fcfcfc;
  margin: 0;
  padding: 0;
}

.magazine-viewport .container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 922px;
  height: 600px;
  margin: auto;
}

.magazine-viewport .magazine {
  width: 922px;
  height: 600px;
  left: -461px;
  top: -300px;
}

.magazine-viewport .page {
  width: 461px;
  height: 600px;
  background-color: white;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.magazine .page {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.magazine-viewport .shadow {
  -webkit-transition: -webkit-box-shadow 0.5s;
  -moz-transition: -moz-box-shadow 0.5s;
  -o-transition: -webkit-box-shadow 0.5s;
  -ms-transition: -ms-box-shadow 0.5s;

  -webkit-box-shadow: 0 0 20px #ccc;
  -moz-box-shadow: 0 0 20px #ccc;
  -o-box-shadow: 0 0 20px #ccc;
  -ms-box-shadow: 0 0 20px #ccc;
  box-shadow: 0 0 20px #ccc;
}

.zoom-icon {
  position: absolute;
  z-index: 1000;
  width: 22px;
  height: 22px;
  top: 10px;
  right: 10px;
  background-image: url(../zoom-icons.png);
  background-size: 88px 22px;
}

.zoom-icon-in {
  background-position: 0 0;
  cursor: pointer;
}

.zoom-icon-in.zoom-icon-in-hover {
  background-position: -22px 0;
  cursor: pointer;
}

.zoom-icon-out {
  background-position: -44px 0;
}

.zoom-icon-out.zoom-icon-out-hover {
  background-position: -66px 0;
  cursor: pointer;
}

#center {
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 80%;
}
